<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BoardsMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BoardsMapper.Properties.Settings>
            <setting name="GoogleAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DoorsDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DoorsReadingYear" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="olvBoardsState" serializeAs="String">
                <value />
            </setting>
        </BoardsMapper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.1072" newVersion="2.9.1.1072" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>